.navbar{

	position: relative; 

}
.navbar-brand{
	font-family: viga;
	font-size: 30px;
	z-index: 3;

	
}


.text{
 font-weight: 400;
 color: #262626;
}

.bg{
	background-color: #ebebeb;
}
.carousel{
	height: 200px;
	position: relative;
	z-index: 1;

}

.sa{
	position: relative;
	z-index: 5;
	margin-top: 240px;
}
.c{
	padding-bottom: 15px;
}

/*tombol*/

.tombol{
	text-transform: uppercase;
	border-radius: 40px;
	width: 180px;
	text-align: center;
	margin:auto;

}
.tombol2{
	text-transform: uppercase;
	border-radius: 10px;
	width: 180px;
	text-align: center;
	

}

.dis{
	margin-top: -620px;

	font-weight: 190;
	font-size: 60px;
	text-shadow: 1px 1px 1px rgba(0,0,0, 0.7);
	text-align: center;
}
.dis span{
	font-weight: 500;
}
h6{
	color: #17b2a2;
	font-weight: 800;
}

footer{
	background-color: #363636;
	color: white;
}
.note{
	font-weight: 300;
	
}








/* versi Dekstop*/


@media (min-width: 992px){
.navbar-brand, .nav-link{
	text-shadow: 1px 1px 1px rgba(0,0,0, 0.7);
}

	.nav-link{
	text-transform: uppercase;
	margin-right: 30px;
	z-index: 3;
	color: white !important;

}
.sa{
	margin-top: 710px;
}
.garis{
	width: 30% !important;
}


.nav-link:hover:after{
	border-bottom: 3px solid #448ccb;
	content: '';
	display: block;
	width: 50%;
	margin:auto;
	padding-bottom: 5px;
	margin-bottom: -8px;

}

.carousel{
	margin-top: -75px;
}

}